<%= form_tag "/search", method: :post do %>
  <%= label_tag :input_search %>
  <%= text_field_tag :input_search %>
  <%= submit_tag "Search" %>
<% end %>

    <section>
      <div class="row">

      <!--Make magic happen here Ruby!-->
      <% @tacos.each do |taco| %>

        <div class="col-sm-4">
          <div class="taco_single">
            <h2><%= taco.name %></h2>
            <h3><%= taco.supplier.name %></h3>
            <p>Price: <%= taco.price %></p>
            <% if taco.images.first %>
              <a href="/products/<%= taco.id %>" title="View Taco"><img src="<%= taco.images.first.path %>" alt="<%= taco.name %>" class="img-responsive taco_single_image"></a>
            <% end %>
            <p>Description: <%= taco.description %></p>
            <p>Rating: <span class="rating"><%= taco.rating %></span></p>
          </div>
        </div>
      <% end %>
      <!--Magic ends-->

      </div>
    </section>
    <%= link_to "Add New Recipe", "products/new" %>
