  <section>
    <div class="row">    
      <div class="col-sm-9">
        <div class="taco_single">
            <h2><%= @taco.name %></h2>
            <p><%= @taco.sale_message %></p>   
            <p>Price: <%= number_to_currency(@taco.price) %></p>
            <p>Tax: <%= number_to_currency(@taco.tax) %></p>   
            <p>Total: <%= number_to_currency(@taco.total) %></p>
            <% @taco.images.each do |image_object| %>
              <img src="<%= image_object.path %>" alt="<%= @taco.name %>" class="img-responsive">
            <% end %>
            <p>Description: <%= @taco.description %></p>
            <p>Rating: <span class="rating"><%= @taco.rating %></span></p>
            <%= link_to "Edit", "/products/#{@taco.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/products/#{@taco.id}", {method: :delete, class: "btn btn-danger" }%>
        </div>
      </div>
    </div>
  </section>
